<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- Thêm mới -->
            <div class="logo mb-24 mb-md-0 action-box" >
                <button mat-mini-fab color="Accent" style="margin-right: 10px;">
                    <mat-icon>add</mat-icon>
                  </button>
                   <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Tìm kiếm người dùng" (keyup)="timkiem($event)">
                    </div>
                </div>
            <!-- / SEARCH -->
            </div>

           


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

        
            <mat-table class="products-table" #table [dataSource]="dataSource" matSort 
                fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef=" let i = index">
                        <p class="text-truncate">{{i + 1}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ['id', 'Name','Email', 'Add', 'Phone', 'thaoTac']; -->
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Tên</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        {{user.Name}}
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        {{user.Email}}
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="Add">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Địa chỉ</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
                        {{user.Address}}
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="Phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Sdt</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs>
                        {{user.Phone}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="thaoTac">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Thao tác</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs>
                        <button mat-mini-fab color="accent" (click)="xoaUser(user.IDuser)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>


            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
